.home{
    width: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
   
    margin-top:-4px;
    


}
.home__image{
    width:100%;
    padding:4px;
    
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    margin-bottom: -100px;
    

}
.home__imageWrapper {
    position: relative;
    display: inline-block;
    width: 100%;
  }
.home__imagePrev{
    position:absolute;
    top:50%;
    left:25px;
    cursor:pointer;
    transform: translateY(-50%);
    height:30px !important;
    width:30px !important;
    
}
.home__imageNext{
    position:absolute;
    top:50%;
    right:25px;
    cursor: pointer;
    transform: translateY(-50%);
    height:30px !important;
    width:30px !important;
    
}